/* Pricing Section */
.pricing-section {
    padding: 4rem 2rem;
    background-color: var(--neon-blue);
    color: #ffffff;
    text-align: center;
  }
  
  .pricing-section h2 {
    margin-top: 4.5rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgb(0, 255, 255);
  }


  
  /* Pricing Cards Container */
  .pricing-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  /* Individual Pricing Card */
  .pricing-card {
    background-color: var(--background-color);
    color: var(--neon-blue);
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 350px;
    text-align: left;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 3px solid var(--neon-blue);
    box-shadow: 0px 10px 25px rgba(0, 175, 255, 0.2);
  }
  
  /* Adding a unique shape to each card */
  .pricing-card.basic-plan {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    color: #00f2ff;
  }
  
  .pricing-card.pro-plan {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    color: #00f2ff;
  }
  
  .pricing-card.enterprise-plan {
    clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
    color: #00f2ff;
  }
  
  .pricing-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.5);
    color: #ffff00;
  }
  
  /* Pricing Details */
  .pricing-card h3 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--neon-blue);
  }
  
  .pricing-card .price {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--neon-blue);
  }
  
  .pricing-card .price span {
    font-size: 1.25rem;
    color: var(--neon-blue);
  }
  
  .pricing-card ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
  }
  
  .pricing-card ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: var(--text-color);
  }
  
  /* Choose Plan Button */
  .choose-plan {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--neon-blue);
    color: #2cb9cb;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .choose-plan:hover {
    background-color: #00f2ff;
    color: var(--neon-blue);
    transform: scale(1.05);
    
    .choose-plan a {
      color: var(--neon-blue);
    }
  }
  